.DS_Store
Thumbs.db
*~
*.swp
*.swo
logs/
*.log

.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

Week1/php/PoC/.idea/
Week1/php/source\ code/vuln/uploads/*
!Week1/php/source\ code/vuln/uploads/private/
Week1/php/source\ code/vuln/downloads/*
Week1/php/source\ code/**/*.flag

Week1/springboot/source\ code/.gradle/
Week1/springboot/source\ code/build/
Week1/springboot/source\ code/out/
Week1/springboot/source\ code/*.class
Week1/springboot/source\ code/bin/
Week1/springboot/source\ code/*.jar
Week1/springboot/source\ code/*.war
Week1/springboot/source\ code/hs_err_pid*
Week1/springboot/source\ code/src/main/resources/static/uploads/*
!Week1/springboot/source\ code/src/main/resources/static/uploads/private/
Week1/springboot/source\ code/src/main/webapp/uploads/*
!Week1/springboot/source\ code/src/main/webapp/uploads/private/
Week1/springboot/source\ code/src/main/resources/downloads/
Week1/springboot/source\ code/**/*.flag

*.flag

target/

Week1/springboot/docker/week1_springboot-0.0.1-SNAPSHOT.jar

!Week1/springboot/source\ code/gradle/wrapper/gradle-wrapper.jar

HELP.md
Week1/springboot/source\ code/HELP.md