HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

.idea/
*.iws
*.iml
*.ipr
out/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

*.lock

*.flag
**/uploads/
src/main/resources/downloads/
src/main/webapp/uploads/private/